.footer {
  display: flex;
  width: 100vw;
  padding: 20px 0;

  flex-direction: column;
  align-items: center;
  height: 100px;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between; 
    height: 80px;
  }

  background-color: $background-color;
  filter: brightness(80%);

  &__element {
    margin: auto;

    @media (min-width: 768px) {
      margin: 0 30px;
    }

    & a {
      color: $accent-color,;
      text-decoration: none;

      &:hover {
        filter: brightness(1.5);
      }
    }

    .footer-icon {
      margin-right: 5px;
    }
  }
}